<%= form_tag :rakuten_search, method: :get do  %>
<%= label_tag :title, 'Title Search' %>
<%= text_field_tag 'title', params[:title] %>
<%= submit_tag "Search" %>
<% end %>

<!--　Upper Stage　-->
<section id="photos_1">
  <table>
    <tbody>
      <% if @items1.present? %>
      <% @items1.each do |item| %>

      <%= link_to image_tag("#{item.large_image_url}"), "#{item.item_url}" %>

      <% end %>
      <% end %>
    </tbody>
  </table>
</section>

<!--　Middle Stage　-->
<section id="photos_3">
  <table>
    <tbody>
      <% if @items2.present? %>
      <% @items2.each do |item| %>

      <%= link_to image_tag("#{item.large_image_url}"), "#{item.item_url}" %>

      <% end %>
      <% end %>
    </tbody>
  </table>
</section>

<!--　Lower Stage　-->
<section id="photos_6">
  <table>
    <tbody>
      <% if @items3.present? %>
      <% @items3.each do |item| %>

      <%= link_to image_tag("#{item.large_image_url}"), "#{item.item_url}" %>

      <% end %>
      <% end %>
    </tbody>
  </table>
</section>
