<%= form_tag :rakuten_search, method: :get do  %>
<%= label_tag :keyword, 'キーワード検索' %>
<%= text_field_tag 'keyword', params[:keyword] %>
<%= submit_tag "検索" %>
<% end %>

<table>
  <tbody>
    <% if @items.present? %>
    <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.name, "#{item.url}" %></td>
      <td><%= image_tag item["mediumImageUrls"][0] %></td>

    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
