<body>
  <!-- headerだよ -->

<!--ヘッダーを幅いっぱいにする為のボックス -->
<div id="headerbg">
<!--ヘッダー -->
<div id="header">
<h1>読み太。</h1>
<button id="rireki">履歴全削除</button>
<button id="rireki_page_show">履歴ページを見る</button>
<button id="to_Top_page">トップページへ戻る</button>
<button id="Modoru">戻る</button>
<div id="choice_hide">
<input type="checkbox" name="choice_delete" value="1" id="choice_delete" class="onoff">
<label for="choice_delete"></label>
</div>
</div>
<!--ヘッダー終わり -->
</div>
<!--ヘッダーを幅いっぱいにする為のボックス終わり -->

  <!-- 履歴表示だよ -->
  <div id="history_page">
    <% listnumber=0 %>
    <% for listEL in cookies[:image].split('&') do %>
    <% if listEL!=["tmp"] then%>
    <% if listEL!="tmp" then%>
    <img src="<%= listEL %>" width="90px" height="auto" alt="<%= cookies[:ISBN].split('&')[listnumber] %>">
    <% listnumber=listnumber+1 %>
    <% end %>
    <% end %>
    <% end %>
  </div>

  <% session[:image]%>

  <!--
      <input type="checkbox" name="choice_delete" value="1" id="choice_delete" class="onoff">
      <label for="choice_delete"></label>
      -->

  <% link_to("履歴消しましょう","/home_history") %>

  <!-- セッションによる表示 -->
  <% if session[:Receivefruit].blank? then session[:Receivefruit]=[] end %>
  <div id="display_history">
    <% for num in session[:Receivefruit].length-9..session[:Receivefruit].length-1 do %>
    <% if num>=1 then %>
    <!--
        <img src="<%= session[:Receivefruit][num] %>" width="90px" height="auto" alt="<%= session[:alt] %>">
        -->
    <!--
        <p><%= p session[:alt] %></p>
        -->
    <% end %>
    <% end %>
    <!--
        <% session[:Receivefruit].each do |i| %>
        <img src="<%= i %>" width="90px" height="auto">
        <% end %>
        -->
  </div>
  <!-- appendによる表示 -->

  <div class="line"></div>



  <% form_tag :home_titleSearch, method: :get do  %>
  <% label_tag :title, 'Title Search' %>
  <% text_field_tag 'title', params[:title] %>
  <% submit_tag "Search" %>
  <% end %>


  <% session[:Receivefruit].each do |i|%>
  <!--
      <img src="<%= i %>" width="50" height="50">
      -->
  <% end %>


  <!-- ここからモーダルウィンドウ -->
  <div id="modal-content">
    <div id="modal-content-innar">
      <!-- モーダルウィンドウのコンテンツ開始 -->
      <p class="red bold">
        <!--
            あらすじを追加する場合はここに追加する
          -->
        <br /></p>

      <p><a id="modal-close" class="button-link">閉じる</a></p>
    </div>
    <!-- モーダルウィンドウのコンテンツ終了 -->
  </div>


  <div class="title"></div>
  <div class="author"></div>

  <div class="center"></div>

  <div id="photos_1"></div>



  <section id="photos_2">
  </section>
  <section id="photos_6">
  </section>

  <div id="top_loading"></div>
  <!--下スクロールイベント時に使用-->
  <div id="end_loading"></div>
