<%= form_tag :home_search, method: :get do  %>
<%= label_tag :title, 'Title Search' %>
<%= text_field_tag 'title', params[:title] %>
<%= submit_tag "Search" %>
<% end %>
<!--
  <label for="title">Title Search</label>
  <input type="text" name="title" id="title" />
  <input type="submit" name="commit" value="Search" data-disable-with="Search" />
</form>
-->

<!--　Lower Stage　-->
<!--
<section id="photos_6">
  <table>
    <tbody>
      <% if @items_3.present? %>
      <% @items_3.each do |item| %>
      <%= link_to image_tag("#{item.large_image_url}"), "#{item.item_url}" %>
      <% end %>
      <% end %>
    </tbody>
  </table>
</section>
-->

<div id="container"></div>

<button class="submit" value='恋愛'>恋愛</button>
<button class="submit" value='ミステリー'> ミステリー</button>
<button class="submit" value='DIVE'>DIVE!</button>
