<h1>確認</h1>
<p>名前：<%= @result1 %></p>
<p>年齢：<%= @result2 %></p>
<p>好きなジャンル：<%= @result3 %></p>
<p>読書の頻度：<%= @result4 %></p>
<p>好きな作家：<%= @result5 %></p>
<p>ベストブック</p>
<p>1：<%= @result6 %></p>
<p>2：<%= @result7 %></p>
<p>3：<%= @result8 %></p>